


<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="{{ asset('lucky/styles/style.css') }}">
	<title>Merhaba Hos Geldin</title>
	<script type="text/javascript" src="{{ asset('lucky/js/for.js') }}"></script>
</head>
<body>
	<h1>Sansli numaran: {{ number }}</h1>
	 
	<img src="{{ asset('lucky/images/logo.png') }}" width="200" height="300" /> <br>
	<input type="button" value="click" class="button" onclick="msg()"/>

	<p>Date/Time: <span id="datetime"></span></p>	
</body>
	

</html>



